.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--wp--preset--spacing--20);
}

.label {
  font-size: var(--wp--preset--font-size--medium);
}

.inputGroup {
  display: flex;
  gap: var(--wp--preset--spacing--20);
}

.input {
  padding: var(--wp--preset--spacing--30);
  font-size: var(--wp--preset--font-size--normal);
  border-radius: 4px;
  border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
  flex: 1;
  font-family: inherit;
  transition: border-color 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: var(--wp--preset--color--vivid-cyan-blue);
}

.toggleButton {
  padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
  cursor: pointer;
  background-color: var(--wp--preset--color--white);
  border: 1px solid var(--wp--preset--color--cyan-bluish-gray);
  border-radius: 4px;
  font-family: inherit;
  transition: background-color 0.2s;
}

.toggleButton:hover {
  background-color: #f0f0f0;
}
